<%= form_with(model: home, local: true) do |form| %>
  <% if home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(home.errors.count, "error") %> prohibited this home from being saved:</h2>

      <ul>
      <% home.errors.full_messages.each do |message| %>
        <td><%= message %></td>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :物件名 %>
    <%= form.text_field :name, placeholder:"例：〇〇マンション" %>
  </div>

  <div class="field">
    <%= form.label :rent, "賃料" %>
    <%= form.number_field :rent %>円
  </div>

  <div class="field">
    <%= form.label :address, "住所" %>
    <%= form.text_field :address, placeholder:"例：東京都XXXX" %>
  </div>

  <div class="field">
    <%= form.label :year, "築年数" %>
    <%= form.number_field :year %>年
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :remarks %>
  </div>

<span>-----------------------------------------</span>
<% n = 0 %>
<%= form.fields_for :stations do |station| %>
  <h3>最寄り駅<%= n += 1 %></h3>
    <tr>
      <td><%= station.label :路線名 %></td>
      <td><%= station.text_field :line %></td>
      <td><%= station.label :駅名 %></td>
      <td><%= station.text_field :station %></td>
      <td><%= station.label :徒歩分数 %></td>
      <td><%= station.text_field :minute %>分</td>
    </tr>
<% end %>

    <div class="actions">
      <%= form.submit "登録する" %>
    </div>
<% end %>
